html {
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
    border-style: solid;
    border-color: whitesmoke;
    border-top-style: solid;
    border-top-style: whitesmoke;
    
}





body{
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    background: linear-gradient(45deg,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871);
    background-size: 100%;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }

.content {
    margin: 0 auto;
    width: 400px;
    margin-top: 30px;
}

table, td, th {
    border: 1.5px solid rgba(225, 225, 225, 0.647);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    font-family: 'Varela Round', sans-serif;
    color: rgba(0, 0, 0, 0.579);
    background-color: #ff977146;
    font-weight: bold;
}

td {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: rgba(0, 0, 0, 0.803);
    padding: 5px;
    background-color: #ffc75f3f;
    font-family: sans-serif;
}

.form {
    margin-top: 20px;
}

#content {
    width: 60%;
    height: 3%;
    left: 0;
    margin-left: 12%;
    border-radius: 2px;
    border-color: rgb(178, 149, 194);
}


.button {
    padding: 0.5rem 1.5rem;
    font-size: 0.7rem;
}

.title {
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    font-weight: 00;
    font-weight: bold;
    color: #f84f39d0;
    transform: scale(1.2, 1.22);
    letter-spacing: 1px;
    text-align: center;
    text-decoration: underline;
    
    
}


.title:hover {
    background-position: right;
}











/*

    background: linear-gradient(135deg, rgb(3, 61, 141), rgb(56, 22, 245), rgb(115, 85, 247));


hr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    background-color:#666;
}
*/

